body {
  background-color: rgb(0, 0, 0);
  min-height: 5000px;
}
nav {
  font-family: Monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 7%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(162, 235, 15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(25, 26, 26);
  text-decoration: none;
  pointer-events: none;
}
.nav-logo span {
  color: rgb(37, 45, 190);
  font-family: sans-serif;
}

nav a {
  color: rgb(24, 24, 68);
  display: inline-block;
  font-size: 1rem;
  margin: 0.1rem;
  text-decoration: none;
}

.nav a:hover {
  color: black;
}

nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid green;
  transform: scaleX(0);
  transition: cubic-bezier();
}
nav a:hover::after {
  transform: scaleX(0.5);
}

h1 {
  text-align: left;
  color: white;
  font-family: sans-serif;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

p {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 1px 1px rgb(24, 24, 68);
}

h1 span {
  color: rgb(209, 162, 162);
  text-align: left;
}

.hero {
  min-height: 110vh;
  display: flex;
  align-items: center;
  background-image: url("image/a-54.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 10%,
    rgba(225, 255, 255, 0) 25%
  );
}

.hero .conten {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .conten .cta {
  margin: top;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(205, 134, 47);
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 1);
}

.about h2 {
  color: rgb(255, 255, 255);
  padding: 8rem 7% 1.4rem;
  text-align: center;
  font-style: palatino;
}
h1 {
  text-align: left;
}
.about {
  text-align: left;
  color: rgb(37, 185, 136);
}

img {
  width: 40%;
  height: auto;
  float: left;
  border-radius: 10px;
  position: relative;
  top: -25;
}

.menu h2 {
  display: block;
  color: rgb(243, 245, 244);
  padding: 20rem 20% 9rem;
  text-align: left;
}

section ul li {
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: 40%;
  list-style-type: circle;
  text-shadow: 1px 1px px rgb(243, 245, 244);
}
h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 45%;
}

img {
  width: 40%;
  height: auto;
  float: left;
  border-radius: 20px;
  position: relative;
  transform: translateY(25px);
}

img {
  width: 40%;
  height: auto;
  float: left;
  border-radius: 90px;
  position: relative;
  transform: translateY(25px);
}
